# Environment Variables
.env

# Google API Credentials
client_secret.json
token.json
token.pickle

# Temporary Files
temp/

# Logs
logs/
*.log

# Python clutter
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.venv/
venv/
env/

# IDEs
.vscode/
.idea/

# Test scripts
test_phase1.py

build/
dist/
build/
dist/
*.spec
*.egg-info/
.DS_Store
.mypy_cache/
.tox/
.nox/
.coverage
htmlcov/
.ipynb_checkpoints/
token.pickle